<div id="snd">
    <div id="global">
      <table>
        <tr>
          <td>
            <label> Id: </label>
          </td>
          <td>
            {{currentapp.id}}
          </td>
        </tr>
        <tr>
          <td>
            <label> Bank Name: </label>
          </td>
          <td>
            {{currentapp.date}}
          </td>
        </tr>
      </table>
    <hr>
    <div class="text-center">
      <button type="submit" class="btn btn-dark">Save Changes</button>
    </div>

    </div>
    </div>